/* for thr main font*/

@font-face {
    font-family: 'main_font';
    src: url(font.ttf);
}

@font-face {
    font-family: 'cool_font';
    src: url(cool.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 60px;
    text-align: center;
}

#container {
    width: 600px;
    background-color: rgb(250, 255, 255);
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.sender_avatar img {
    float: left;
}
.receiver_avatar img {
    float: right;
}

.sender h6 {
    margin-top: 2px;
    margin-right: 10px;
    text-align: right;
    padding: 3px;
    font-family: 'main_font';
}


.receiver h6 {
    margin-top: 2px;
    margin-left: 10px;
    text-align: left;
    padding: 3px;
    font-family: 'main_font';
}



.sender {
    margin-bottom: 20px;
    position: relative;
    margin-right: 100px;
    text-align: left;
    width: 500px;

}

.sender_inside {
    margin-left: 60px;
    text-align: left;
    border-radius: 20px;
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 5px;
}

.receiver {
    margin-bottom: 20px;
    position: relative;
    margin-left: 100px;
    text-align: right;
    width: 500px;

}

.receiver_inside {
    margin-right: 60px;
    text-align: left;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    padding: 5px;
}

p {
    padding-left: 15px;
    font-family: 'main_font';
    font-size: 18px;
}